<!DOCTYPE html>
<html>
<head>
	<title>Angular App</title>
</head>
<body>
	<!-- angular app-->
	<div ng-app="myApp">
		<p>This is a testing angular app!</p>

		<!-- Controller div-->
		<div ng-controller="sampleCtrl">
		 <input type="text" ng-model="txt">
		 Type the text to see the result
		 <h3>You have entered {{display()}} </h3><BR><hr>
		</div>

		<!-- http-response data div -->
		<div ng-controller="httpCtrl" align="center">
				<h3>{{welcomeMsg}}</h3><br>
		</div>

		<!-- links to pages -->
		<div align="center">
		 <a href="#template1">template1</a>
		 <a href="#template2">template2</a>
		 <a href="#template3">template3</a>
		 <hr>
		</div>
		
		<!-- View for Routing -->
		<div ng-view></div>

		<!-- interpolation -->
		<div align="center">
		<hr>
		<input type="text" ng-model="siteName"><br>
		<h3><a ng-href="https://www.{{siteName}}.com">{{siteName}}</a></h3>
		</div>
	</div>
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-route/angular-route.js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/controller.js"></script>
</body>
</html>